* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
}
.big-img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  transform: all 0.23s;
}
.container .small-images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.container .small-images img {
  width: 80px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.23s;
}

.container .small-images img:hover {
  transform: translateY(1px);
}
